---
import { getCollection } from 'astro:content';

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const collection = await getCollection('posts')
    return collection.map(post => {
        return {
            params: { slug: post.slug },
            props: { post: post },
        };
    })
}

const { post } = Astro.props;
---

<Layout title="Leggy Land" src={post.data.image.url} alt={post.data.image.alt}>
    <a class="button" href="/" id="back">Back</a>
    <h1>{post.data.title}</h1>
    <p>{post.data.description}</p>
    <ul id="tags">
        {post.data.tags.map((item: string) => ( <li class="pill">#{item}</li> ))}
    </ul>
    <hr>

    <div>
        {post.body}
    </div>
</Layout>

<style is:global lang="scss">
    @import "../../styles/vars";

    #back {
        margin-bottom: 32px;
    }

    #tags {
        padding-top: 16px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
</style>
