---
import { getCollection } from 'astro:content';

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Music from "../components/Music.astro";

const tools = ["Proxmox", "JetBrain IDEs", "Docker", "Linux", "SQLite", "Postgres", "MySQL"];
const languages = ["Go", "Python", "HTML", "CSS", "Sass", "TypeScript", "JavaScript", "Scratch", "PHP", "SQL", "Bash"];
const frameworks = ["Gin", "Echo", "Flask", "Svelte", "Astro", "raylib"];
const projects = await getCollection('projects');
const posts = await getCollection('posts');
---

<Layout title="Leggy Land" src="/banner-alt.webp" alt="Temporary Banner">
	<h1>Leggy Land</h1>
	<p>Made with Coffee, lots of it.</p>

	<div style="margin: 16px 0">
		<Music />
	</div>

	<section>
		<h2>Who am I</h2>
		<p>My name is Fluffy or Michał, I'm 19 and like computers</p>
		<br>
		<p>I mainly do website stuff, work with the front and backend, but I also like networking and breaking things</p>
		<br>
		<p>My favorite language currently is Go, but I also know a few other languages that are listed below!</p>
		<br>
		<p>I use Arch btw.</p>
	</section>

	<section>
		<h2>Find me on</h2>
		<ul class="pill-list">
			<li><a class="button" href="#">Twitter</a></li>
			<li><a class="button" href="#">BlueSky</a></li>
			<li><a class="button" href="#">Discord</a></li>
			<li><a class="button" href="#">Telegram</a></li>
		</ul>
	</section>

	<section>
		<h2>Tools</h2>
		<ul class="pill-list">
			{tools.map(tool => ( <li class="pill large">{tool}</li> ))}
		</ul>
	</section>

	<section>
		<h2>Languages</h2>
		<ul class="pill-list">
			{languages.map(language => ( <li class="pill large">{language}</li> ))}
		</ul>
	</section>

	<section>
		<h2>Frameworks</h2>
		<ul class="pill-list">
			{frameworks.map(framework => ( <li class="pill large">{framework}</li> ))}
		</ul>
	</section>

	<section>
		<h2>Projects</h2>
		<ul class="project-list">
			{projects.map(project => (
				<Card
					href=`/projects/${project.slug}`
					title={project.data.title}
					body={project.data.description}
				/>
			))}
		</ul>
		<a class="button" id="see-all-projects" href="/projects">See Projects</a>
	</section>

	<section>
		<h2>Recent Posts</h2>
		<ul class="project-list">
			{posts.map(project => (
				<Card
					href=`/posts/${project.slug}`
					title={project.data.title}
					body={project.data.description}
				/>
			))}
		</ul>
		<a class="button" id="see-all-posts" href="/posts">See Posts</a>
	</section>
</Layout>

<style lang="scss">
	@import "../styles/vars.scss";

	.pill-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 8px;

		> li {
			list-style: none;
		}
	}

	.project-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
		gap: 16px;
		padding: 0;
	}

	#see-all-projects,
	#see-all-posts {
		margin-top: 16px;
		margin-left: auto;
	}
</style>
