---
const { certificate } = Astro.props;
---

<div class="certificate">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M168,157.94h0a44,44,0,1,1,56-67.88h0V56a8,8,0,0,0-8-8H40a8,8,0,0,0-8,8V184a8,8,0,0,0,8,8H168Z" opacity="0.2"/><line x1="72" y1="136" x2="120" y2="136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="72" y1="104" x2="120" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><circle cx="196" cy="124" r="44" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M168,192H40a8,8,0,0,1-8-8V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V90.06" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><polyline points="168 157.94 168 224 196 208 224 224 224 157.94" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
    <div class="certificate-front">
        <h3>{certificate.data.title}</h3>
        <p>{certificate.data.achieved}</p>
        <p>By: {certificate.data.provider}</p>

        {certificate.data.skills && (
            <ul class="pill-list">
                {certificate.data.skills.map((skill: string) => (
                    <li class="pill">{skill}</li>
                ))}
            </ul>
        )}

        {certificate.data.link && (
            <a href={certificate.data.link} class="button">View</a>
        )}
    </div>
</div>

<style lang="scss">
    @import "../styles/vars.scss";

    .certificate {
        padding: 16px;

        height: 100%;

        position: relative;

        border-radius: $radius;
        border: 2px solid $gray;
        background-color: $dark;
        color: $light;

        overflow: hidden;

        > svg {
            width: 200px;
            height: 200px;

            position: absolute;
            top: -37px;
            left: -25px;

            opacity: 0.03;
            z-index: +1;
        }

    }
    .certificate-front {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        text-decoration: none;
        text-align: center;

        z-index: +2;


        > h3 {
            margin-bottom: 4px;
        }
        > .pill-list {
            margin-top: 4px;

            justify-content: center;
        }
        > .button {
            margin-top: 4px;
        }
    }
</style>