---
import { getMonth, getDaySuffix } from "../utils";

const { certificate } = Astro.props;

const date = new Date(certificate.data.achieved);
---

<div class="certificate">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none"/>
        <path d="M168,157.94h0a44,44,0,1,1,56-67.88h0V56a8,8,0,0,0-8-8H40a8,8,0,0,0-8,8V184a8,8,0,0,0,8,8H168Z" opacity="0.2"/>
        <line x1="72" y1="136" x2="120" y2="136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
        <line x1="72" y1="104" x2="120" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
        <circle cx="196" cy="124" r="44" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
        <path d="M168,192H40a8,8,0,0,1-8-8V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V90.06" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><polyline points="168 157.94 168 224 196 208 224 224 224 157.94" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    </svg>
    <div>
        <h3>{certificate.data.title}</h3>
        <hr style="width: 100%">
        <p>{date.getDate()}{getDaySuffix(date)} {getMonth(date)} {date.getFullYear()}</p>
        <p>Presented by {certificate.data.provider}</p>

        {certificate.data.skills && (
            <ul class="pill-list">
                {certificate.data.skills.map((skill: string) => ( <li class="pill">{skill}</li> ))}
            </ul>
        )}

        {certificate.data.link && ( <a href={certificate.data.link} class="button">View Full</a> )}
    </div>
</div>
