---
import { getCollection } from 'astro:content';

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const collection = await getCollection('projects')
    return collection.map(project => {
        return {
            params: { slug: project.slug },
            props: { project: project },
        };
    })
}

const { project } = Astro.props;
---

<Layout title="Leggy Land" src={project.data.image.url} alt={project.data.image.alt}>
    <a id="back" href="/">Back</a>

    <h1>{project.data.title}</h1>
    <p>{project.data.description}</p>
    <ul id="tags">
        {project.data.tags.map(item => (
                <li class="pill">#{item}</li>
        ))}
    </ul>
    <hr>

    <div>
        {project.body}
    </div>
</Layout>

<style is:global lang="scss">
    @import "../../styles/vars";

    #back {
        margin-bottom: 32px;
        padding: 0 32px;

        width: max-content;
        height: 35px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        text-decoration: none;

        border-radius: 9999px;
        border: 0 solid $gray;
        background-color: $gray;
        color: $light;

        &:hover, &:focus-visible {
            background-color: lighten($gray, 1%);
        }
    }

    #tags {
        padding-top: 16px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
</style>
